* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

ul {
  list-style: none;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  padding: 1%;
}

html,
body {
  font-size: 16px;
  font-family: "Fredoka", sans-serif;
  width: 100vw;
  height: 100vh;
}
